/*============ CI-DESSOUS CODE PERSO ============*/
.Nav-menu {
  height: 10vh;
  width: 10vh;
  padding: 0;
  z-index: 100;
  position: fixed;
  top: 0px;
  right: 0px;
  color: #F4E8C1;
  font-family: 'Ubuntu-Regular', sans-serif;
  a {
    display: block;
    height: 100%;
    width: 100%;
    .square {
      height: inherit;
      width: inherit;
      background-color: #F4E8C1;
      border: 1px #333333 solid;
      display: inline-block;
      &:hover{
        background-color: #A0C1B9;
      }
      img {
        height: 80%;
        display: block;
        margin: 10% auto;
      }
    }
  }
  ul {
    display: none;
    list-style: none;
    font-size: 3vh;
    li:hover {
      background-color: white;
    }
  }
  /*width: 130px;
    background: yellowgreen;
  */
}

.Hero-header {
  height: 100vh;
  width: 100%;
  background-color: #333333;
  display: flex;
  align-items: flex-end;
  font-family: 'Ubuntu-Regular', sans-serif;
    color: #F4E8C1;
    h1:nth-of-type(1) {
      font-size: 50vh;
      margin-bottom: -20px;
    }
    h1:nth-of-type(2), h1:nth-of-type(3), h1:nth-of-type(4), h1:nth-of-type(5) {
      font-size: 40vh;
      margin-bottom: 35px;
    }
    h1:nth-of-type(2){
      animation: blink-caret 1s step-end infinite;
      /*animation-name: blink-caret;
      animation-duration: 0s;
      animation-delay: 2s;
      animation-iteration-count: infinite;*/
    }
    /*Ci-dessous les "..."*/
    h1:nth-of-type(3), h1:nth-of-type(4), h1:nth-of-type(5) {
      margin-bottom: -20px;
      animation: up-down-dots 0.4s ease infinite alternate;
    }
    h1:nth-of-type(3) { animation-delay: 0s}
    h1:nth-of-type(4) { animation-delay: 0.2s}
    h1:nth-of-type(5) { animation-delay: 0.4s}
}

.Parallax-home {
  height: 200px;
  background-image: url("./janko-ferlic-sfL_QOnmy00-unsplash.jpg");
  width: 100%;
  /* Set a specific height */
  /*min-height: 500px;*/

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  div.Layer {
    background-color: rgba(248, 247, 216, 0.7);
    /*position: absolute;
    top: 0;
    left: 0;*/
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
      h1 {
        font-family: 'Ubuntu-Regular', sans-serif;
        letter-spacing: 10px;
        color: white;
        text-align: center;
        font-size: 4vw;
        /*margin-top: 0px;*/
      }
  }
}

.My-bio {
  height: 100vh;
  width: 100%;
  background-color: #F4E8C1;
  color: #333333;
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { color: transparent }
  50% { color: #F4E8C1; }
}

@keyframes up-down-dots {
  from {margin-bottom: -20px}
    to   {margin-bottom: 70px}
}
